{{#*inline "field"}}
	<div class="form-group">
		<label class="control-label">{{label}}</label>
		<div class="input-container">
			{{#contains inputElTypes type}}
				<input class="form-control" type={{type}} name={{name}} value="{{lookup values name}}"/>
			{{/contains}}
			{{#eq type 'select'}}
				<select class="form-control" name="{{name}}">
					<option value="">{{#default placeholder (add 'Select ' label)}}{{/default}}
					{{#each options}}
						<option value="{{slug}}" {{#eq slug (lookup ../values ../name)}}selected{{/eq}}>{{value}}</option>
					{{/each}}
				</select>
			{{/eq}}
			{{#eq type 'textarea'}}
				<textarea class="form-control" name={{name}}></textarea>
			{{/eq}}
		</div>
	</div>
{{/inline}}

<h2>Add a new transaction</h2>
{{#each fields}}
	{{> field inputElTypes=../inputElTypes values=../values}}
{{/each}}
<input type="hidden" name="id"/>
<button type="submit" class="btn btn-primary pull-right">Add</button>
