{{#*inline "field"}}
	<div class="form-group">
		<label class="control-label">{{label}}</label>
		<div class="input-container">
			{{#contains inputElTypes type}}
				<input class="form-control" type={{type}} name={{name}}
						value="{{lookup values name}}"
						{{#each attributes}}
							{{#eq this true}}
								{{@key}}
							{{else}}
								{{@key}}={{this}}
							{{/eq}}
						{{/each}}
					/>
				{{#with datalist}}
					<datalist id={{id}}>
						{{#each options}}
							<option>{{this}}</option>
						{{/each}}
					</datalist>
				{{/with}}
			{{/contains}}
			{{#eq type 'select'}}
				<select class="form-control" name="{{name}}">
					<option value="">
						{{#default placeholder (add 'Select ' label)}}{{/default}}
					</option>
					{{#each options}}
						<option value="{{slug}}" {{#eq slug (lookup ../values ../name)}}selected{{/eq}}>{{value}}</option>
					{{/each}}
				</select>
			{{/eq}}
			{{#eq type 'textarea'}}
				<textarea class="form-control" name={{name}}></textarea>
			{{/eq}}
		</div>
	</div>
{{/inline}}

<h2>Add a new transaction</h2>
{{#each fields}}
	{{> field inputElTypes=../inputElTypes values=../values}}
{{/each}}
<input type="hidden" name="id" value="{{id}}"/>
<button type="submit" class="btn btn-primary pull-right submit">Add</button>
<button type="button" class="btn btn-default pull-right reset">Reset</button>
