<tr data-transaction-id="{{model._id}}">
	<td class="day {{date 'ddd' model.date}}" data-date="{{date 'YYYY-MM-DD' model.date}}" data-time="{{date 'HH:mm A'}}"><span class="field-title">Day: </span><span class="badge">{{date 'ddd' model.date}}</span></td>
	<td class="merchant"><span class="field-title">Merch: </span>{{model.merchant}}</td>
	<td class="amount"><span class="field-title">Amt: </span>{{money model.amount}}</td>
	<td class="source"><span class="field-title">Src: </span>{{getSource model.source}}</td>
	<td class="description"><span class="field-title">Desc: </span>{{model.description}}</td>
	<td class="category"><span class="field-title">Cat: </span>{{getCategory model.category}}</td>
	<td class="action"><i class="edit glyphicon glyphicon-pencil"></i><i class="remove glyphicon glyphicon-remove"></i></td>
</tr>
